.Todo {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: whitesmoke;
  margin: 5px 0;
}

.Todo-container {
  height: 100%;
  min-width: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Todo-task {
  padding: 0 5px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  order: 1;
  flex: 1 1 auto;
  min-width: 0px;
  width: 100%;
  transition-property: color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

p.completed {
  text-decoration: line-through;
  color: lightgray;
}

button {
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: inherit;
  transition-property: color, background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

button.Todo-remove {
  background-color: lightpink;
  color: white;
  order: 3;
  flex: 1 0 auto;
}
button.Todo-edit {
  background-color: lightblue;
  color: white;
  order: 2;
  flex: 1 0 auto;
}

button.Todo-remove:hover {
  background-color: crimson;
}
button.Todo-edit:hover {
  background-color: lightskyblue;
}
button.Todo-remove:hover > svg {
  animation: spin 0.7s;
}

input {
  height: 100%;
  width: 100%;
  background-color: inherit;
  margin: 0;
  padding: 0 5px;
  font-size: inherit;
  font-family: inherit;
  border: none;
  outline: none;
  transition: background-color 0.2s ease;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(20deg);
  }
  40% {
    transform: rotate(-15deg);
  }
  60% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
